#content {
  min-height: 560px;
  margin: 7.5em 0 0 4.3em; padding: 18px;
}
img#content-background {
  position: fixed; z-index: -9999;
  margin-left: -18px; width: 906px; 
  top:106px; bottom: 0;
}
.codrops-top {
  position:fixed;
  top: 0; left: 0;
  z-index: 9999;
  width:100%;
  height: 40px;
}
@media screen{
  body>div#left-sidebar{position:fixed;}
  body>.codrops-top{position:fixed;}  
 }
 * html body{overflow:hidden;} 
 * html #content{overflow:auto;}
 * html #main {overflow: auto;}

/* Pods
-------------------------------------------------------------------------------------*/

#left-sidebar ul.lg-icons li.profile {
  background: rgba(1,1,1,.2);    
  color: rgba(255,255,255,.8);   
}
#left-sidebar ul.lg-icons li.profile img { opacity: .8; }
#left-sidebar ul.lg-icons li.profile {
  border-top: 1px solid #333;
  border-bottom: 0 none;
  position: absolute; bottom: 10em; 
}

/* Avatar
-------------------------------------------------------------------------------------*/

#content .avatar img {
  background: #d0d0d0;
  height: 481px; width: 855px; 
}
#content .avatar table.avp {
  width: 40px; 
  color: #666; text-shadow:1px 1px 1px rgba(255,255,255, 1);
  position: absolute; top: 430px; right: 3px;

  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  
  background: rgba(0,0,0,.5);
  border: 3px solid rgba(255,255,255,.3);
}
@-moz-document url-prefix() {
  #content .avatar table.avp { margin: -4px 0 0 0; }
}
table.avp td {
  padding: 0 5px 0 5px;
  height: 30px;
  border-right:1px solid rgba(230,230,230,.8); 
  text-align: center;
  font: normal 12px 'Helvetica Neue', 'Lato', Helvetica;
}
table.avp td:first-child {
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px; 
}
table.avp td:last-child {
  border: none 0;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
a.flat-link, a.flat-link-not {color:#666;}
a.flat-link:hover {color:#0084b4; text-decoration: none;}
a.flat-link-not:hover {color:#000; text-decoration: none;}

/* Content (About)
-------------------------------------------------------------------------------------*/

#content hr {
  width: 99%;
  margin-top: 10px;
}
.about {
  color: #000;
  margin: 0 9px 25px 0px;
  font: 13px 'lane','Helvetica Neue';
  line-height: 1.7em;
}
.about p.big-font {
   font: 24px 'lane', 'lato'; font-weight:300; 
   margin: 15px 0 0 0;
}
div.thick-line {
  border-bottom: 10px solid #eee; /*#8db538 /*54a3a0*/
  width: 431px; color: rgba(1,1,1,0);
  margin: 8px -15px 0 -15px;

  height: 10px;
  background: #f6f8f9;
  background: -moz-linear-gradient(-45deg,  #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#f6f8f9), color-stop(50%,#e5ebee), color-stop(51%,#d7dee3), color-stop(100%,#f5f7f9));
  background: -webkit-linear-gradient(-45deg,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%);
  background: -o-linear-gradient(-45deg,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%);
  background: -ms-linear-gradient(-45deg,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%);
  background: linear-gradient(135deg,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=1 );

  border-bottom: 0 none;
  margin: 27px -15px 0 -15px;
}
.comments {
  margin-left: 9px; 
}
.grid_6 { margin-top: 20px; }
.grid_6 h4 {
  font: bold 14px 'Helvetica Neue'; 
  color: rgba(0,0,0,.8);
}

/* Buttons
-------------------------------------------------------------------------------------*/

button.facebook,
button.share {
  background: none;
  border: 0 none;
  padding: 0; margin: 0;
  color: #fff;
  font: 12px 'Helvetica Neue', 'Lato', Helvetica;
  cursor: pointer;
  outline: none;
}
button.facebook a {
  color: #0084b4;
}
button.facebook a:hover {
  color: #1794B3; text-decoration: none;
}

/* Twitter Feed
-------------------------------------------------------------------------------------*/

#twitter-wrapper {
  padding: 15px;
  
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(243,243,243,1)), color-stop(51%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
  background: rgb(255,255,255);

  text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid rgba(150,150,150,.30);
  -webkit-box-shadow: 0px 1px 1px 0px #eee;
  -moz-box-shadow:    0px 1px 1px 0px #eee;
  box-shadow:         0px 1px 1px 0px #eee;  
}

.about-section {
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(243,243,243,1)), color-stop(51%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
  background: rgb(255,255,255);
  padding: 15px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid rgba(150,150,150,.30);
  -webkit-box-shadow: 0px 1px 1px 0px #eee;
  -moz-box-shadow:    0px 1px 1px 0px #eee;
  box-shadow:         0px 1px 1px 0px #eee;  
}

.map-section {
  padding: 15px;
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(243,243,243,1)), color-stop(51%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
  background: rgb(255,255,255);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid rgba(150,150,150,.35);
  -webkit-box-shadow: 0px 1px 1px 0px #eee;
  -moz-box-shadow:    0px 1px 1px 0px #eee;
  box-shadow:         0px 1px 1px 0px #eee;  
}
.map-section img.icon-about {
  width: 40px; float: left; margin-bottom: 15px; 
}
.map-section iframe {
  border-top: 1px solid rgba(150,150,150,.30);
}



/* Social List
-------------------------------------------------------------------------------------*/

    .avatar>ul.list { 
      display:none;
      position:absolute; right: 0; top:0;
      width:60px; height: 336px;
      margin:0; padding:100px 0px 45px 0px; list-style:none;
      background: rgba(255,255,255,.5);
      color:#333;
    }
    .avatar>ul.list a:link {color:#333;}
    .avatar>ul.list a:hover {color:#333;}
    .avatar>ul.list a:visited {color:#333;}
    .avatar>ul.list li {
      text-align: center;
      padding:15px 10px 15px 10px;
      font-size: 25px;
    }
    .avatar>ul.list li:hover {
      background: rgba(255,255,255,.5); 
      cursor: pointer;
    }
    .avatar>ul.list li:last-child { border:none }
