#content {
  height: 100%; 
  margin: 8em 0 0 4.4em; padding: 18px;
}
img#content-background {
  position: fixed; z-index: -9999;
  margin-left: -18px; width: 910px;
  top:-36px;
}

/* Pods
-------------------------------------------------------------------------------------*/

  #left-sidebar ul.lg-icons li.text {
    background: rgba(1,1,1,.2);    
    color: rgba(255,255,255,.8);  
  }
  #left-sidebar ul.lg-icons li.text img {
    opacity: .8;   
  }
  #left-sidebar ul.lg-icons li.profile {
    border-top: 1px solid #333;
    border-bottom: 0 none;
    position: absolute; bottom: 10.7em; /* 8em */
  }

/* Content Right
-------------------------------------------------------------------------------------*/

p.second {
  margin: 0; margin-left: 492px; padding: 12px;
  position: fixed; 
  color: #666; width: 336px;
  font: 12px 'Helvetica Neue', 'Lato', Helvetica; 
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 3px 0px #ccc;
  -moz-box-shadow:    0px 1px 3px 0px #ccc;
  box-shadow:         0px 1px 3px 0px #ccc;
  background: rgb(255,255,255);
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(243,243,243,1)), color-stop(51%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
}
p.second a:link {color:#666;}
p.second a:hover {color:#1794B3;}

.map {
  position: fixed;
  margin: 58px 0 0 492px;
}
.map-section {
  margin: 0; 
  background: rgb(255,255,255);
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(243,243,243,1)), color-stop(51%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
  width:330px; padding: 15px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 4px 0px #ccc;
  -moz-box-shadow:    0px 1px 4px 0px #ccc;
  box-shadow:         0px 1px 4px 0px #ccc; 
}
.map-section iframe {
  width: 100%; height: 220px;
}

/* Content Left
-------------------------------------------------------------------------------------*/

.feeditem { margin-left: -8px; }
.feeditem h1 { font-family: 'Lato'; font-weight: 400; }
.ball {
  min-height: 200px; width: 260px; /* 264 */
  background: rgb(255,255,255);
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(243,243,243,1)), color-stop(51%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );

  padding: 18px; padding-bottom: 12px;
  font: 16px 'lato'; font-weight: 300; 
  line-height: 1.7em;
  color: rgba(1,1,1,.8);
  margin: 0 0 34px 35px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 3px 0px #ccc;
  -moz-box-shadow:    0px 1px 3px 0px #ccc;
  box-shadow:         0px 1px 3px 0px #ccc;  
}
.grid_7 img.feat {
  width: 100%; 
}
.grid_7 img.vid {
  height: 286px;
}



/* Grid Filter
-------------------------------------------------------------------------------------*/

#Grid{
  text-align: justify;
}
#Grid:after{
  content: '';
  display: inline-block;
  width: 100%;
}
#Grid .mix{
  display: none;
  opacity: 0;
  vertical-align: top;
}
#Grid .gap{
  display: inline-block;
}

