#content {
  height: 100%; 
  margin: 8em 0 0 4.4em; padding: 18px;
}
img#content-background {
  position: fixed; z-index: -9999;
  margin-left: -18px; width: 906px;
  top:106px; bottom: 0;
}

/* Pods
-------------------------------------------------------------------------------------*/

  #left-sidebar ul.lg-icons li.video {
    background: rgba(1,1,1,.2);    
    color: rgba(255,255,255,.8);   
  }
  #left-sidebar ul.lg-icons li.video img {
    opacity: .8;   
  }

  #left-sidebar ul.lg-icons li.profile {
    border-top: 1px solid #333;
    border-bottom: 0 none;
    position: absolute; bottom: 10.7em; /* 8em */
  }


/* Content 
-------------------------------------------------------------------------------------*/

#content iframe.feat-vid {
  height: 480px; width: 100%; 
    background: #d0d0d0;
  margin-bottom: 30px;
}
#content .avatar p {
  display: none;
  background: rgb(255,255,255);
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(243,243,243,1)), color-stop(51%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -webkit-box-shadow: 0px 1px 3px 0px #ccc;
  -moz-box-shadow:    0px 1px 3px 0px #ccc;
  box-shadow:         0px 1px 3px 0px #ccc;
}
ul.my-list li p {
  display: none;
  color: #666;
  font: 12px 'Helvetica Neue', 'Lato', Helvetica;
  margin: 0px 0 34px 0px; padding: 10px;
  background: rgb(255,255,255);
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(243,243,243,1)), color-stop(51%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
  -webkit-box-shadow: 0px 1px 3px 0px #bbb;
  -moz-box-shadow:    0px 1px 3px 0px #bbb;
  box-shadow:         0px 1px 3px 0px #bbb;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
}
#content .avatar p {
  color: #666;
  font: 12px 'Helvetica Neue', 'Lato', Helvetica;
  margin: -3px 0 34px 0; padding: 12px;
}
#content h4 {
  text-transform: uppercase;
  color: rgba(1,1,1,.7);
  margin: 18px 0 5px 0px;  
}
#content hr {
  width: 100%; opacity: .2;
  margin: -16px 0 0 0;
}


/* Hoverscroll
-------------------------------------------------------------------------------------*/

.hoverscroll {
  margin: 15px 0 35px 0;  
}
.my-list li iframe {
  width: 279px; 
  height: 156px;
  background: #d0d0d0;
  -webkit-box-shadow: 1px 1px 5px 1px #c0c0c0;
  -moz-box-shadow: 1px 1px 5px 1px #c0c0c0;
  box-shadow: 1px 1px 5px 1px #c0c0c0;    
}
.my-list li {
  margin-right: 8px  
}
.my-list li:last-child {
  margin-right: 0;
}
