  <h1 id="artist-title"><small>Ak</small>una
    <span><b class="border-notch"></b><b class="notch"></b><i class="icon-circle"></i> musician</span><span><b class="border-notches"></b><b class="notches"></b><i class="icon-circle"></i> designer</span>

  <%= image_tag "http://hippoartists.com.s3.amazonaws.com/images/main/main/topfloatl.jpg", class: "topfloat" %>
  </h1>

  <div id="left-sidebar"> 
    <ul class="lg-icons">
      <a href="akunaphoto"><li class="photo"><%= image_tag "http://hippoartists.com.s3.amazonaws.com/images/icons/white/photo-icon.png" %>Photo</li></a>
      <a href="akunatext"><li class="text"><%= image_tag"http://hippoartists.com.s3.amazonaws.com/images/icons/white/book-icon.png" %><br>Text</li></a>  
      <a href="akuna"><li class="profile"><%= image_tag "http://hippoartists.com.s3.amazonaws.com/images/icons/white/user-icon.png" %>Profile</li></a>          
    </ul>
  </div>