

#demo_inline_element_two {
  float: left;
  position: relative;
  width: 400px;
  background: #141414;
  color: #fefefe;
}
#demo_inline_element_two .form-container {
  width: 100%; height: 400px;
  overflow: hidden;
}

#demo_inline_element_three_one,
#demo_inline_element_three {
  float: left;
  position: relative;
  width: 160px; /* 130 */
  background: #141414;
  color: #fefefe;
}
#demo_inline_element_three_one .audio-container,
#demo_inline_element_three .audio-container {
  width: 100%; 
  overflow: hidden;
  background: rgb(255,255,255);
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(243,243,243,1)), color-stop(51%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );

}


#demo_inline_element {
  float: left;
  position: relative;
  width: 900px;
  background: #141414;
  color: #fefefe;
}

#demo_inline_element .side { float: left; }
#demo_inline_element .movie-container {
 /*width: 640px;
 height: 360px;
 margin-right: 10px;*/
 width: 100%; height: 510px;
 overflow: hidden;
}

#demo_inline_element .description-container {
 width: 249px;
 height: 360px;
 position: relative;
}

#demo_inline_element .description-container h1 {
 font: normal 35px 'lane - narrow'; opacity: .6;
 /*font: normal 19px/23px "HelveticaNeue","Helvetica Neue","HelveticaNeueRoman","HelveticaNeue-Roman","Helvetica Neue Roman",Helvetica,Arial,sans-serif,Verdana;
 */text-transform: uppercase;
 margin-top: 10px;
 margin-bottom: 0;
}
#demo_inline_element .description-container h4 {
 font: normal 11px/18px "HelveticaNeue","Helvetica Neue","HelveticaNeueRoman","HelveticaNeue-Roman","Helvetica Neue Roman",Helvetica,Arial,sans-serif,Verdana;
 text-transform: uppercase;
 color: #666;
 position: relative; bottom: 0;
}

#demo_inline_element .description-container p {
  font: normal 16px 'lato';
}

#demo_inline_element .tagContainer {
 float: left;
 width: 100%;
 clear: both;
}
#demo_inline_element .tagContainer .tag, 
#demo_inline_element .tagContainer .tag:hover {
    background-color: #080808;
    background-image: url("/images/lightview/demonstrations/inline/tag_background.gif");
    background-position: right center;
    background-repeat: no-repeat;
    color: #808080;
    float: left;
    line-height: 15px;
    margin: 0 6px 5px 0px;
    font-size: 8px;
    text-transform: uppercase;
    padding: 3px 19px 3px 5px;
    text-decoration: none;
    cursor: default;
}

#demo_inline_element .full {
  float: right;
  clear: both;
  background: url("/images/lightview/demonstrations/inline/full_background.gif") right center no-repeat;
  color: #808080;
  height: 24px;
  line-height: 24px;
  padding: 3px 20px 3px 5px;
  margin-bottom: 18px;
}






/*** ORIGINAL



#demo_inline_element {
  float: left;
  position: relative;
  width: 900px;
  background: #141414;
  color: #fefefe;
}

#demo_inline_element .side { float: left; }
#demo_inline_element .movie-container {
 width: 640px;
 height: 360px;
 margin-right: 10px;
 overflow: hidden;
}

#demo_inline_element .description-container {
 width: 249px;
 height: 360px;
 position: relative;
}

#demo_inline_element .description-container h1 {
 font: normal 19px/23px "HelveticaNeue","Helvetica Neue","HelveticaNeueRoman","HelveticaNeue-Roman","Helvetica Neue Roman",Helvetica,Arial,sans-serif,Verdana;
 text-transform: uppercase;
 margin-bottom: 0;
}
#demo_inline_element .description-container h4 {
 font: normal 11px/18px "HelveticaNeue","Helvetica Neue","HelveticaNeueRoman","HelveticaNeue-Roman","Helvetica Neue Roman",Helvetica,Arial,sans-serif,Verdana;
 text-transform: uppercase;
 color: #666;
 margin-bottom: 10px;
}

#demo_inline_element .tagContainer {
 float: left;
 width: 100%;
 clear: both;
}
#demo_inline_element .tagContainer .tag, 
#demo_inline_element .tagContainer .tag:hover {
    background-color: #080808;
    background-image: url("/images/lightview/demonstrations/inline/tag_background.gif");
    background-position: right center;
    background-repeat: no-repeat;
    color: #808080;
    float: left;
    line-height: 15px;
    margin: 0 6px 5px 0px;
    font-size: 8px;
    text-transform: uppercase;
    padding: 3px 19px 3px 5px;
    text-decoration: none;
    cursor: default;
}

#demo_inline_element .full {
  float: right;
  clear: both;
  background: url("/images/lightview/demonstrations/inline/full_background.gif") right center no-repeat;
  color: #808080;
  height: 24px;
  line-height: 24px;
  padding: 3px 20px 3px 5px;
  margin-bottom: 18px;
}



****/