/*
 *= require_self
 *= require base/grid960
 *= require js/hoverjs/jquery.hoverscroll
 *= require js/lightview/lightview
 *= require js/lightview/demo_inline
 *= require fonts/fonts
 *= require css/default
 */

/* Screen Fix -----------------------------------------------------*/

 @media screen {
  body>div#left-sidebar { position:fixed; }
  body>div#header{ position:fixed; }  
 }
 * html body { overflow:hidden; } 
 * html #content { overflow:auto; }
 * html #main { overflow: auto; }

/* Images ---------------------------------------------------------*/

img,embed,object,video { max-width: 100%; }

img.topfloat {
  position: absolute; top: 72px; left:73px; 
}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
    /* Safari and Chrome */
    img.topfloat { left:73px; top: 73px;}

    /* Safari only override */
    ::i-block-chrome, img.topfloat { left:72px; }
}
@-moz-document url-prefix() {
    img.topfloat { left:72px; }
}

/* Other ----------------------------------------------------------*/

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

div.clear {
  position: absolute; top: 66px; right: 265px;
  background: rgba(255,255,255,.5);
  height: 444px; width: 290px;
}

/* LG Sidebar -----------------------------------------------------
-------------------------------------------------------------------*/

#left-sidebar {
  font-family: 'Helvetica Neue', Helvetica;
  /*background: #fff; border: 1px solid #ddd;*/
  background: url(http://hippoartists.com.s3.amazonaws.com/images/main/main/Linen-iPhone-2.png) top repeat;
  margin: 0; padding: 0; margin-top: 0em;
  position: fixed; 
  width: 4.4em;
  height:100%; 
  -webkit-border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
}
#left-sidebar ul.lg-icons li {
  color: #999; font-size: 12px; text-align: center;
  width: 5.86em; height: 6.3em; 
  margin-left: -40px; 
  list-style: none; 
  border-bottom: 1px solid #eee;
  border-bottom: 1px solid #333;
  padding-bottom: .25em;
}
#left-sidebar ul.lg-icons:first-child { margin-top: 0; }
#left-sidebar ul.lg-icons li img {
  opacity: .5;
  width: 25px; margin: 6px 0 6px 0;
  padding: .9em 6px 0 6px;
}
#left-sidebar ul.lg-icons li:hover img { opacity: .8; }
#left-sidebar ul.lg-icons li:hover {
  background: rgba(1,1,1,.2); 
  color: rgba(255,255,255,.8); 
  text-decoration: none;  
  -webkit-border-top-left-radius: 0;
  -moz-border-top-left-radius: 0;
  border-top-left-radius: 0;
}

/* Pods -----------------------------------------------------------*/

#left-sidebar ul.lg-icons li:first-child {
  -webkit-border-top-left-radius: 3px; 
  -moz-border-top-left-radius: 3px; 
  border-top-left-radius: 3px; 
}

/* Artist Pages
-------------------------------------------------------------------------------------*/

h1#artist-title {
  z-index: 2; width:100%; padding: 22px 0px 25px 0; 
  position: fixed; top: 25px; letter-spacing: 0px;
  font: 300 23px 'Lato'; 
  background: url(http://hippoartists.com.s3.amazonaws.com/images/main/main/back.jpg);
  color: #333;
}
h1#artist-title i {
  position: relative; left: -5px; bottom: 1px; font-size: 10px;
    text-shadow:
    0px 0px 0px rgba(000,000,000,0),
    0px -2px 0px rgba(135,135,135,.1);
}
h1#artist-title span {
  letter-spacing: normal;
  text-transform: uppercase;
  vertical-align: 18%;
  margin-left: 20px;
  
  background: rgb(220,220,220);
  background: -moz-linear-gradient(left,  rgba(220,220,220,1) 0%, rgba(201,201,201,1) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(220,220,220,1)), color-stop(100%,rgba(201,201,201,1)));
  background: -webkit-linear-gradient(left,  rgba(220,220,220,1) 0%,rgba(201,201,201,1) 100%);
  background: -o-linear-gradient(left,  rgba(220,220,220,1) 0%,rgba(201,201,201,1) 100%);
  background: -ms-linear-gradient(left,  rgba(220,220,220,1) 0%,rgba(201,201,201,1) 100%);
  background: linear-gradient(to right,  rgba(220,220,220,1) 0%,rgba(201,201,201,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6', endColorstr='#c9c9c9',GradientType=1 );

  border:1px solid rgba(218,218,218,1);
  border-left: 0 none;

  padding: 5px; 
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font: bold 11px 'Helvetica Neue';
  color: rgba(255,255,255,1);

  text-shadow:
    0px 0px 0px rgba(000,000,000,0),
    0px 2px 1px rgba(140,140,140,.1);
}

/* Wookmark Plugin
-------------------------------------------------------------------------------------*/

.clearfix {
height: 100%;
position: relative; 
margin: 0; padding: 0;
}
.view ali:nth-child(3n) {
height: 175px;
}
.view ali:nth-child(4n-3) {
padding-bottom: 30px;
}
.view ali:nth-child(5n) {
height: 250px;
}


/* Portrait iPad
-------------------------------------------------------------------------------------*/

  h1#artist-title span {
    padding: 5px 8px; 
    margin-right:-10px;
  }
  h1#artist-title span i {
    display: none;
  }
