  <div id="header">
    
    <ul> 
      <li><%= link_to image_tag("main/main/hippo-logo-greentext.png",width:'100', class: "hippo-logo"), root_path %></li>
      <ul id="right">    
        <li>
          <a href="mailto:thehipponetwork@gmail.com?subject=&amp;body=" title="Contact by Email"><button type="button" name="Contact" value="text" class="signup"><i class="icon-envelope"></i></button></a>
        </li>
        <li style="margin-right:53px;">
          <a href="https://www.facebook.com/hippoartists?ref=ts&fref=ts" target="_blank"><button type="button" name="Facebook" value="text" class="signup"><i class="icon-facebook-sign"></i> /hippoartists </button></a>
        </li>
        <li style="margin-right:148px;">
          <a href="https://twitter.com/hippoartists" target="_blank"><button type="button" name="Twitter" value="text" class="signup"><i class="icon-twitter"></i> @hippoartists </button></a>
        </li>
      </ul>       
    </ul>    
    
  </div>