  <div id="header">
    
    <ul> 
      <li><%= link_to image_tag("http://hippoartists.com.s3.amazonaws.com/images/main/main/hippo-logo-greentext.png",width:'100', class: "hippo-logo"), root_path %></li>      
    </ul>    
    
  </div>