  <div id="header">
    
    <ul> 
      <li><%= link_to image_tag("main/main/hippo-logo-greentext.png",width:'100', class: "hippo-logo"), root_path %></li>
      <ul id="right">    
        <li>
          <a href='#demo_inline_element_two' class='lightview'
          data-lightview-options="skin: 'dark', controls: { type: 'relative', slider: false, close: 'false' }"><button type="button" name="Contact" value="text" class="signup"><i class="icon-envelope"></i></button></a>

          <div id='demo_inline_element_two' style='display:none'>
            <div class='form-container side'>
              <a id="foxyform_embed_link_463523" href="http://www.foxyform.com/"></a>
              <script>
              (function(d, t){
                 var g = d.createElement(t),
                     s = d.getElementsByTagName(t)[0];
                 g.src = "/assets/contact.js";
                 s.parentNode.insertBefore(g, s);
              }(document, "script"));
              </script>
            </div>
          </div>
        </li>
        <li style="margin-right:53px;">
          <a href="https://www.facebook.com/hippoartists?ref=ts&fref=ts" target="_blank"><button type="button" name="Facebook" value="text" class="signup"><i class="icon-facebook-sign"></i> /hippoartists </button></a>
        </li>
        <li style="margin-right:148px;">
          <a href="https://twitter.com/hippoartists" target="_blank"><button type="button" name="Twitter" value="text" class="signup"><i class="icon-twitter"></i> @hippoartists </button></a>
        </li>
      </ul>       
    </ul>    
    
  </div>