  
  <h1 id="artist-title"><small>D</small>ot
    
    <span><b class="border-notchmlb"></b><b class="notchmlb"></b><i class="icon-circle"></i> Short Film</span>

  <%= image_tag "http://hippoartists.com.s3.amazonaws.com/images/main/main/topfloatl.jpg", class: "topfloat" %>
  </h1>

  <div id="left-sidebar"> 
    <ul class="lg-icons">
      <a href="/dot/video"><li class="video"><%= image_tag "http://hippoartists.com.s3.amazonaws.com/images/icons/white/film-icon.png" %>Video</li></a>
      <a href="/dot/photo"><li class="photo"><%= image_tag "http://hippoartists.com.s3.amazonaws.com/images/icons/white/photo-icon.png" %>Photo</li></a>
      <a href="/dot"><li class="profile"><%= image_tag "http://hippoartists.com.s3.amazonaws.com/images/icons/white/user-icon.png" %>Profile</li></a>    
    </ul>
  </div>