<% provide(:title, 'Dot') %>
<%= stylesheet_link_tag 'pages/grid3' %>

  <!-- Twitter Widget -->
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  </script>

  <!-- Share -->
  <script>
    (function($){
      $.fn.styleddropdown = function(){
        return this.each(function(){
          obj = $(this)
          obj.find('.share').click(function() { //onclick event, 'list' fadein
          obj.find('.list').fadeIn(400);
          
          $(document).keyup(function(event) { //keypress event, fadeout on 'escape'
            if(event.keyCode == 27) {
            obj.find('.list').fadeOut(400);
            }
          });
          
          obj.find('.list').hover(function(){ },
            function(){
              $(this).fadeOut(400);
            });
          });
          
          obj.find('.list li').click(function() { //onclick event, change field value with selected 'list' item and fadeout 'list'
          obj.find('.share')
            .val($(this).html())
            .css({
              'background':'#fff',
              'color':'#333'
            });
          obj.find('.list').fadeOut(400);
          });
        });
      };
    })(jQuery);
  
    $(function(){
      $('.avatar').styleddropdown();
    });
  </script>

<!-- 
....................................................................
-->

<%= render 'title_sidebar' %>

<!-- Main Content
....................................................................
-->

<section id="content">
<%= image_tag "http://hippoartists.com.s3.amazonaws.com/images/main/main/packl.jpg", id: "content-background" %>  
<div class="clearfix">

  <div class="avatar">
  	<%= image_tag "http://hippoartists.com.s3.amazonaws.com/images/main/banners/dot2.jpg" %>

    <table class="avp">
      <td>
        <i class="icon-map-marker"></i> Pittsburgh, PA
      </td>
      <td> 
        <strong style="margin-right:3px">Genres:</strong> Dark Comedy
      </td>
      <td> 
        <strong style="margin-right:3px">Writer/Director:</strong> Garrett Kennell, David Light
      </td>
      <td> 
        <strong style="margin-right:3px">Producer:</strong> Meg Kuntz
      </td>
      <td>
        <a class="flat-link" href="https://www.facebook.com/dotshortfilm" target="_blank"><i class="icon-facebook-sign"></i> Facebook </a>
      </td>
      <td>
        <button class="share" type="submit" style="float:right;margin-right:2px;"><i class="icon-share"></i></button>
      </td>
    </table>  
    <ul class="list">
        <a href="#" onclick="
            window.open(
              'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 
              'facebook-share-dialog', 
              'width=626,height=436'); 
            return false;">
          <li>
            <i class="icon-facebook-sign"></i>   
          </li>
        </a>  
        <a href="https://twitter.com/home?status=Check out Dot on Hippo+(http%3A%2F%2Fhippoartists.com%2Fmelikebees)"target="_blank">
          <li>
          <i class="icon-twitter"></i> 
          </li>
        </a>
        <a href="http://pinterest.com/pin/create/bookmarklet/?media=[MEDIA]&url=http%3A%2F%2Fhippoartists.com%2Fmelikebees&is_video=false&description=Check out Dot on Hippo"target="_blank">
          <li>
            <i class="icon-pinterest"></i> 
          </li> 
        </a>
        <a href="http://www.tumblr.com/share?v=3&u=http%3A%2F%2Fhippoartists.com%2Fmelikebees&t=Check out Dot on Hippo "target="_blank">
          <li>
            <i class="icon-tumblr"></i> 
          </li> 
        </a>
        <a href="mailto:?subject=Check out Dot on Hippo&amp;body=www.hippoartists.com/melikebees" title="Share by Email">
          <li style="font-size:20px;">
            <i class="icon-envelope"></i> 
          </li>
        </a>
    </ul>
  </div>


  <div class="grid_6" style="margin-top:-14px;">
    <h4>About</h4> 
    <div class="about"> 
      <p style="font: 24px 'lane', 'lato'; font-weight:300;">
        Coming this Spring.
      </p>
      <p>
        Dot, a 16-year-old girl suffering from OCD, who compulsively kills anyone she sees making a mess, struggles with her inability to keep anyone close as a charming, young rabbit breeder pushes his way into her life.
      </p>
    </div>
  </div><div class='clear'>&nbsp;</div>

  <div class="comment-section grid_6">
    <h4 style="margin:44px 0 28px 9px;">Latest Tweet</h4>  
    <div id="twitter-wrapper">
      <a class="twitter-timeline" 
       href="https://twitter.com/melikebees" 
       data-theme="custom"
       data-tweet-limit="1"
       data-chrome="nofooter noheader noborders noscrollbar transparent"
       width="418"
       data-widget-id="383687382702096384">
       Tweets by @GarrettKennell
      </a>
    </div>
    <b class="border-notch"></b>  
    <b class="notch"></b>
  </div>

</div>

</section>